---
import Layout from '../layouts/Layout.astro';
import { profile } from '@/settings';
import { publications } from '@/data/cv';
import { projects } from '@/data/projects'; // Import the projects data
import ProfilePictures from '@/assets/profile_pictures.jpg';
import Hero from '@/components/ui/Hero.astro';
import Grid from '@/components/ui/Grid.astro';
import ArticleList from '@/components/ui/ArticleList.astro';
import ProjectsList from '@/components/ui/ProjectsList.astro'; // Import the ProjectsList component

const { fullName, title, institute, research_areas } = profile;
const cvLink = "/documents/resume_cv.pdf";
---

<Layout>
  <!-- Hero Section -->
  <section class='flex items-center gap-12 border-b pb-12'>
    <Hero
      fullName={fullName}
      title={title}
      institute={institute}
      profilePicture={ProfilePictures}
      cvLink={cvLink}
    />
  </section>

  <!-- Research Areas -->
  <section class='py-12 border-b'>
    <Grid gridTitle='Research Areas' gridItems={research_areas} />
  </section>

  <!-- Recent Publications -->
  <!-- <ArticleList listTitle='Recent Publications' listItems={publications} /> -->

  <!-- Projects Section -->
  <ProjectsList listTitle='Projects' listItems={projects} /> <!-- Add Projects section -->
</Layout>